* {
    padding: 0;
    margin: 0;
}

.desativarohover {
    display: flex;
    justify-content: center;
    background-color: #00843D;
    border: 2px solid black;
    margin: 20px;
    transition: background-color 0.3s;
}

.botaohover {
    color: black;
    background-color: #00843D;
    border: 0px solid black;
    font-size: 150%;
    font-family: 'roboto';
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.desativaroshovers {
    pointer-events: none;
    color: black;
}

header {
    display: flex;
    justify-content: center;
    background-color: #00843D;
    border: 2px solid black;
    margin: 10px;
    transition: background-color 0.3s;
}

.cabecalho {
    padding: 100px;
}

body {
    background-color: #00843D;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: 20px;
    border: 2px solid black;
    background-color: #00843D;
    transition: background-color 0.3s;
}

.textocaixa {
    margin-right: 150px;
}

p {
    font-family: 'roboto';
    font-size: 150%;
    font-weight: 700;
}

a {
    font-family: 'roboto';
    font-size: 150%;
    font-weight: 700;
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

h1 {
    font-family: 'roboto';
    font-size: 150%;
    font-weight: 700;
}

.caixaprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.caixaesquerda,
.caixadireita {
    width: 50%;
    height: 60vh;
    background-color: #00843D;
    border: 2px solid black;
    transition: background-color 0.3s;
}

.textoesquerdo,
.textodireito {
    padding: 50px;
}

a:hover,
header:hover,
.caixa:hover,
.caixaesquerda:hover,
.caixadireita:hover,
footer:hover {
    background-color: #000000;
    color: #00843D;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00843D;
    border: 2px solid black;
    margin: 20px;
    transition: background-color 0.3s;
}

.textofooter {
    padding: 50px;
}